<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Application - Login Page</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Chat</a></li>
                <li class="main-header__item"><a class="active" href="/login">Login</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Please login to the Chat Application</h1>
        <form class="login-from" action="/" method="GET" onsubmit="localStorage.setItem('username', document.getElementById('username').value)">
            <div>
                <label for="username">User Name</label>
                <input id="username" type="text" name="username" is="username">
            </div>
            <button type="submit">Log In</button>
        </form>
    </main>
</body>
</html>